@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(to bottom, transparent, rgb(var(--background-end-rgb)))
    rgb(var(--background-start-rgb));
}

@layer components {
  .blue-shadow {
    box-shadow: rgba(0, 132, 255, 0.5) 0px 0px 0px 4px;
  }
  .nav-float-bottom {
    position: absolute;
    bottom: 1rem;
    left: 50%;
    transform: translateX(-50%);
    height: 3.75rem;
    padding: 0 0.5rem;
    border-radius: 9999px;
  }
  .nav-bottom {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 4rem;
  }
}
