@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

::-webkit-scrollbar {
  width: 14px;
}
::-webkit-scrollbar-thumb {
  border-radius: 999px;
  background-color: rgba(0, 0, 0, 0.3);
}

@layer components {
  .blue-shadow {
    box-shadow: rgba(0, 132, 255, 0.5) 0px 0px 0px 4px;
  }
  .nav-top {
    position: fixed;
    z-index: 5;
    left: 0;
    right: 0;
    top: 0;
  }
  .nav-float-bottom {
    position: fixed;
    z-index: 5;
    bottom: 1rem;
    left: 50%;
    transform: translateX(-50%);
    height: 3.75rem;
    padding: 0 0.5rem;
    border-radius: 9999px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 8px;
  }
  .nav-bottom {
    position: fixed;
    z-index: 5;
    left: 0;
    right: 0;
    bottom: 0;
    height: 4rem;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 8px;
  }
  .waterfall {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(236px, 1fr));
  }
}

.hover-content-flex {
  display: none;
}
.hover-show-container:hover .hover-content-flex {
  display: flex;
}

.card-transform {
  transition: transform 0.2s ease-in-out;
}
