@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

::-webkit-scrollbar {
  width: 14px;
}
::-webkit-scrollbar-thumb {
  border-radius: 999px;
  background-color: rgba(0, 0, 0, 0.3);
}

@layer components {
  .no-focus {
    @apply focus-visible:ring-0 focus-visible:ring-transparent focus-visible:ring-offset-0 !important;
  }
  .pin-container-width {
    @apply flex-row w-[1016px] max-w5:flex-col max-w5:w-[508px] max-w3:w-screen;
  }
  .pin-image-width {
    @apply w-screen w3:w-[508px];
  }
  .text-shadow {
    text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.75);
  }
  .blue-shadow {
    box-shadow: rgba(0, 132, 255, 0.5) 0px 0px 0px 4px;
  }
  .nav-top {
    @apply fixed z-[100] left-0 right-0 top-0;
  }
  .nav-float-bottom {
    position: fixed;
    z-index: 100;
    bottom: 1rem;
    left: 50%;
    transform: translateX(-50%);
    height: 3.75rem;
    padding: 0 0.5rem;
    border-radius: 9999px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 8px;
  }
  .nav-bottom {
    position: fixed;
    z-index: 100;
    left: 0;
    right: 0;
    bottom: 0;
    height: 3.75rem;
    padding: 0.75rem 0.5rem 1rem;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 8px;
  }
  .waterfall {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(236px, 1fr));
  }
  .linear-white {
    background: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 10%);
  }
}
@layer utilities {
  .shadow-small {
    box-shadow: 0 0 8px rgb(0 0 0 / 0.1);
  }
  .shadow-medium {
    box-shadow: 0 0 15px rgb(0 0 0 / 0.1);
  }
  .shadow-large {
    box-shadow: 0 0 22px rgb(0 0 0 / 0.1);
  }
  .shadow-bottom {
    box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.1);
  }
  .card-transform {
    transition: transform 0.2s ease-in-out;
  }
  .horizontal-middle {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
  }
  .vertical-middle {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
  }
  .border-top {
    border-top: 1px solid rgb(239, 239, 239);
  }
  .break-word {
    overflow-wrap: break-word;
    white-space: pre-wrap;
  }
  .main-content {
    height: calc(100vh - 5rem);
  }
}

.hover-content-flex,
.hover-content-block {
  display: none;
}
.hover-show-container:hover .hover-content-flex {
  display: flex;
}
.hover-show-container:hover .hover-content-block {
  display: block;
}
.hover-content-visible {
  visibility: hidden;
}
.hover-visible-container:hover .hover-content-visible {
  visibility: visible;
}

.reaction {
  opacity: 1;
  transition-duration: 0.2s;
  transition-timing-function: ease-out;
  transition-property: transform, opacity;
}
.reaction-start {
  transform: translateY(30px);
  opacity: 0;
}
.reaction-end {
  transform: translateY(0);
  opacity: 1;
}
.reaction-container:hover .reaction {
  transform: translateY(-30px) scale(1.6);
  animation: 2000ms steps(60) 0s infinite normal forwards running play60;
}
@keyframes play60 {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: -2400px 0;
  }
}

.label-default {
  font-size: 12px;
  font-weight: 400;
}
.input-default {
  border: 2px solid #cdcdcd;
  border-radius: 1rem;
  font-size: 1rem;
  color: #111;
  font-weight: 300;
  resize: none;
}
.input-default:hover {
  border-color: #a5a5a5;
}
.input-default:focus-visible,
.input-default:focus {
  box-shadow: 0 0 rgba(0, 0, 0, 0) !important;
  outline: none;
  outline-offset: 0px;
}
/* when an error message appears, change the input's border color */
.input-default:has(+ .error-message-marker) {
  border-color: #cc0000;
}
.custome-form-message {
  padding-top: 0.25rem;
  font-weight: 400;
  font-size: 12px;
  color: #767676;
}
.error-message-marker + .custome-form-message {
  display: none;
}

/* styles for react-slideshow-image */
ul.indicators {
  margin-top: 8px !important;
  gap: 4px;
  button::before {
    width: 6px !important;
    height: 6px !important;
    background: #8e8e8e !important;
  }
  button.active::before {
    background: #656565 !important;
  }
}

.loading-spinner {
  color: rgb(118, 118, 118);
  fill: rgb(118, 118, 118);
  animation: spinner 0.4s linear infinite;
}
@keyframes spinner {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(90deg);
  }
}

.skeleton {
  background: linear-gradient(
      to right,
      rgb(246, 247, 249) 0%,
      rgb(233, 235, 238) 20%,
      rgb(246, 247, 249) 40%,
      rgb(246, 247, 249) 100%
    )
    no-repeat rgb(246, 247, 249);
  animation: 1s linear 0s infinite normal forwards running LoadingShimmerAnimation;
}
@keyframes LoadingShimmerAnimation {
  0% {
    background-position: -400px 0;
  }
  100% {
    background-position: 400px 0;
  }
}
